.link--arrow {
  font-size: .875em;
  display: block;
  @include FrutigerRoman;
  margin-bottom: rem(8px);

  &:before {
    @extend %icons;
    @extend .icon-cheveron-right;
    left: 0;
    display: inline-block;
    font-size: rem(12px);
    border: rem(1px) solid $primary-color;
    border-radius: 50%;
    position: relative;
    background-color: $primary-color;
    margin-right: 8px;
    color: $white;
  }

  &__cicle-big {
    font-size: .875rem;

    &:before {
      font-size: rem(12px);
    }

    @include susy-media(tablet) {
      font-size: 1.25em;

      &:before {
        font-size: rem(16px);
      }
    }

    @include susy-media(desktop) {
      font-size: 1.5625rem;

      &:before {
        font-size: rem(18px);
      }
    }
  }
}

.bg {
  &--secondary {
    background-color: $secondary-color;
  }

  &--primary{
    background-color: $primary-color;
    color: $white;
  }

  &-light {
    &--gray {
      background-color: $gray-ef;
      color: $text-color;
    }

    &--gray-gradient {
      background-image: linear-gradient(to top,#fff 0%,#efefef 50%,#efefef 100%);
      color: $text-color;
    }
  }

  &-dark {
    &--black {
      background-color: $black;
      color: $white;

      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }

    &--blue-gradient {
      @extend .text--white;
      background-image: linear-gradient(to bottom,#032b5a 0%,#3487bc 100%);
    }
  }
}


.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--white {
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}


.position {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }

  &--center {
    margin: 0 auto;
    text-align: center;
  }
}

.hidden {
  &--tablet-desktop {
    @include susy-media(mobileLarge) {
      display: none;
    }
  }
}
