.link--arrow {
  font-size: .875em;
  position: relative;
  @include FrutigerRoman;

  &:before {
    @extends %icons;
    @extends .icon-cheveron-right;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
  }

  &__cicle-blig {
    font-size: rem(1.3125rem);

    @include susy-media(tablet) {
      font-size: 1.5625rem;
    }
  }
}
