<div class="page-wrapper {{ pageclass }}">
  {% block header %}
    {{ header }}
  {% endblock %}
  <main id="main" class="main">
    {% block content %}
    {% endblock %}
  </main>
  {% block footer %}
    {{ footer }}
  {% endblock %}
</div>
