<div class="block-icon">
  <div class="container">
    <div class="block-icon__list block-icon--{{ iconBlock.items|length }}-items">
      {% for item in iconBlock.items %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
</div>
