<div class="new-realated">
  <h4 class="new-realated__heading">Similar stories</h4>
  <div class="new-realated__inner">
    {% for item in newRelated.items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
