<div class="new-related">
  <h4 class="new-related__heading">Similar stories</h4>
  <div class="new-related__inner">
    {% for item in newRelated.items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
