<div class="new-related__item">
  <div class="new-related__published"><span class="new-related__date">{{ newItem.date }}</span>by O2</div>
  <h4 class="new-related__title">{{ newItem.title }}</h4>
  <div class="new-related__description">{{ newItem.description }}</div>
  <div class="new-related__link">{{ newItem.link }}</div>
</div>
