<div class="new-realated__item">
  <div class="new-realated__published"><span class="new-realated__date">{{ newItem.date }}</span>by O2</div>
  <h4 class="new-realated__title">{{ newItem.title }}</h4>
  <div class="new-realated__description">{{ newItem.description }}</div>
  <div class="new-realated__link">{{ newItem.link }}</div>
</div>
