.page-title {
	background-color: $gray-3;
	background-size: auto 100%;
	color: $white;

	&-inner {
		padding: 28px 30px 20px;
	}

	h1 {
		font-size: rem(26px);
		@include susy-media(tablet) {
  		font-size: rem(46px);
  	}
	}


	p {
		font-style: italic;
		@include susy-media(tablet) {
  		font-size: rem(18px);
  	}
	}
}
