*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

::selection {
  color: white;
}

::-moz-selection {
  color: white;
}

a, a:visited {
  text-decoration: none;
  outline: none;
}
