// Button
.btn {
  background: $blue-24;
  color: white;
  display: inline-block;
  letter-spacing: 1px;
  padding: 11px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:hover {
  }
}
