// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000000;
$white: #fff;
$gray: #ccc;
$gray-33: #333;
$gray-d9: #d9d9d9;
$gray-ef: #efefef;
$blue-09: #000639;
$blue-0b: #0d366b;
$blue-24: #2f7cb4;

$red: #900;

// Blue
$dark-blue: #032b5a;
$light-blue: #3d9ece;
$blue: #419eda;

$primary-color: $blue;
$secondary-color: $dark-blue;
$text-color: $dark-blue;

$link-color: $primary-color;
$link-color-hover: $secondary-color;
