h1,
h2,
h3,
h4,
h5 {
  @include FrutigerRoman;
  margin-bottom: rem(10px);
}

h1 {
  font-size: 1.875em;
  line-height: 1em;

  @include susy-media(tablet) {
    line-height: 1.2em;
    font-size: 2.875em;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1em;
}

h3 {
  font-size: 1.25rem;

  @include susy-media(tablet) {
    line-height: 1.25em;
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.25em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: $link-color;
  }
}

p,
figcaption {
  line-height: $base-line-height;
}

strong {
  font-weight: bold;
}

%list,
.list {
  padding-left: 40px;
  margin-bottom: 10px;

  li {
    padding-left: 20px;
    margin-bottom: rem(13px);

    p {
      margin-bottom: 0;
    }
  }

  &--dot {
    li {
      position: relative;

      &:before {
        content: '\2022';
        display: block;
        font-size: 21px;
        left: 0;
        margin-top: rem(-3px);
        position: absolute;
        top: 0;
      }
    }
  }
}

%list-in-article,
.list-in-article {
  ul {
    @extend %list;
    @extend %list--dot;
  }
}

