<div class="product-item product-item--dark">
  <div class="product-item__image">{{ productItemDark.image }}</div>
  <div class="product-item__inner">
    <h4 class="product-item__title">{{ productItemDark.title }}</h4>
    <div class="product-item__description">{{ productItemDark.description }}</div>
  </div>
  <div class="product-item__link">{{ productItemDark.link }}</div>
</div>
