<div class="page-title-detail">
  <div class="page-title-detail__published">Published: <span class="page-title-detail__date">{{ pageHeading.date }}</span>by<span class="page-title-detail__author">{{ pageHeading.author}}</span></div>
  <h1 class="page-title">{{ pageHeading.pageTitle}}</h1>
</div>
