{% if topRegion %}
  <div class="top-region">
    {{ topRegion }}
  </div>
{% endif %}
<div class="container group-region">
  <div class="left-region">
    {{ leftRegion }}
  </div>
  <div class="right-region">
    {{ rightRegion }}
  </div>
</div>
{% if bottomRegion %}
  <div class="bottom-region bg--light-gray">
    {{ bottomRegion }}
  </div>
{% endif %}
