<div class="page-heading">
  <div class="page-heading__image">{{ pageHeading.image }}</div>
  <div class="page-heading__content">
    <div class="page-heading__inner">
      <div class="container">
        <h1 class="page-title">{{pageHeading.pageTitle}}</h1>
        <div class="page-heading__description">{{pageHeading.description}}</div>
      </div>
    </div>
  </div>
</div>
