<div class="container">
  <div class="news-list">
    {% for i in 0..4 %}
      <div class="news-list__item">
        <div class="node-news node-news--teaser">
          <div class="node-news__image">
            <a href="#">
              <img src="https://unsplash.it/800/500/?random">
            </a>
          </div>
          
          <div class="node-news__content">
            <ul class="node-news__category">
              <li><a href="#">Sport</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Post</a></li>
            </ul>
            <h2 class="node-news__title"><a href="#">Comics of the week #385</a></h2>
            <div class="node-news__summary">
              <p>Every week we feature a set of comics created exclusively for WDD. The content revolves around web design, blogging and funny situations that we encounter in our daily lives as designers. These great cartoons are created by Jerry King, an award-winning cartoonist who’s one of the most published, prolific and versatile...</p>
            </div>
            <ul class="node-news__submitted">
              <li class="first">By <a href="#">TanTan</a></li>
              <li class="last">6 days ago</li>
            </ul>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
