<div class="container">
  <div class="grid--3column">
    <div class="paragraph__content">
      <div class="grid__item">
        <div class="product product--teaser">
          <a href="#">
            <div class="product__status">
              <span>NEW</span>
            </div>
            <div class="product__content-top">
              <img src="https://staticshop.o2.co.uk/product/images/huawei_p10_graphite_black_list_standard.png?cb=abe81379c440316230dcf7d897412b7f">
              <div class="product__rating">
                <div class="star-rating" >★★★★★
                  <div class="star-rating__stars">★★★★★</div>
                </div>
                <div class="product__color">
                    <span class="swatch bg-red"></span>
                    <span class="swatch bg-black"></span>
                    <span class="swatch bg-pink"></span>
                    <span class="swatch bg-gray"></span>
                    <span class="swatch bg-yellow"></span>
                    <span class="swatch bg-white"></span>
                </div>
              </div>
              <h2 class="product__title">Huawei</h2>
            </div>

            <div class="product__short-info">
              <p>Plus unlimited music streaming, with the Samsung Galaxy S8 and S8 Plus. Selected tariffs.</p>
            </div>

            <div class="product__price-info">
              Chỉ từ
              <div class="product__price">300,000đ</div>
            </div>
          </a>
          <div class="product__action-links">
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="product product--teaser">
          <a href="#">
            <div class="product__status">
              <span>NEW</span>
            </div>
            <div class="product__content-top">
              <img src="https://staticshop.o2.co.uk/product/images/huawei_p10_graphite_black_list_standard.png?cb=abe81379c440316230dcf7d897412b7f">
              <div class="product__rating">
                <div class="star-rating" >★★★★★
                  <div class="star-rating__stars">★★★★★</div>
                </div>
                <div class="product__color">
                    <span class="swatch"></span>
                    <span class="swatch"></span>
                    <span class="swatch"></span>
                </div>
              </div>
              <h2 class="product__title">Huawei</h2>
            </div>

            <div class="product__short-info">
              <p>Plus unlimited music streaming, with the Samsung Galaxy S8 and S8 Plus. Selected tariffs.</p>
            </div>

            <div class="product__price-info">
              Chỉ từ
              <div class="product__price">300,000đ</div>
            </div>
          </a>
          <div class="product__action-links">
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
      <div class="grid__item">
        <div class="product product--teaser">
          <a href="#">
            <div class="product__status">
              <span>NEW</span>
            </div>
            <div class="product__content-top">
              <img src="https://staticshop.o2.co.uk/product/images/huawei_p10_graphite_black_list_standard.png?cb=abe81379c440316230dcf7d897412b7f">
              <div class="product__rating">
                <div class="star-rating" >★★★★★
                  <div class="star-rating__stars">★★★★★</div>
                </div>
                <div class="product__color">
                    <span class="swatch"></span>
                    <span class="swatch"></span>
                    <span class="swatch"></span>
                </div>
              </div>
              <h2 class="product__title">Huawei</h2>
            </div>

            <div class="product__short-info">
              <p>Plus unlimited music streaming, with the Samsung Galaxy S8 and S8 Plus. Selected tariffs.</p>
            </div>

            <div class="product__price-info">
              Chỉ từ
              <div class="product__price">300,000đ</div>
            </div>
          </a>
          <div class="product__action-links">
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
