<div class="paragraph paragraph--left-right">
  <div class="content-inner">
    <div class="paragraph__title">Box Left Right</div>
    <div class="paragraph__content">
      <div class="left-right__item odd">
        <div class="left-right__item__image">
          <img src="https://unsplash.it/800/600/?random" />
        </div>
        <div class="left-right__item__text">
          <h3>You should now have Sass installed</h3>
          <p>You should now have Sass installed You should now have Sass installed.
          You should now have Sass installed You should now have Sass installed.</p>
        </div>
      </div>
      <div class="left-right__item even">
        <div class="left-right__item__image">
          <img src="https://unsplash.it/800/600/?random" />
        </div>
        <div class="left-right__item__text">
          <h3>You should now have Sass installed</h3>
          <p>You should now have Sass installed You should now have Sass installed.
          You should now have Sass installed You should now have Sass installed.</p>
        </div>
      </div>
    </div>
  </div>
</div>
