<div class="paragraph">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Title abc123</div>
    <div class="paragraph__content">
      <p>Bạn sẽ không phải lo lắng gì về chất lượng của những chiếc IPhone. Chúng tôi luôn cung cấp những chiếc IPhone chất lượng nhất bao gồm cả cũ và mới.</p>
    </div>
  </div>
</div>
