
<div class="paragraph paragraph--promote">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Default</div>
    <div class="paragraph__content">
			<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote size-smaller">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Size smaller</div>
    <div class="paragraph__content">
			<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote size-smaller">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Size Smaller and Background White</div>
    <div class="paragraph__content">
			<div class="promote__item bg-white" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Background blue</div>
    <div class="paragraph__content">
			<div class="promote__item bg-blue" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote size-smaller">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Size smaller and background blue</div>
    <div class="paragraph__content">
			<div class="promote__item bg-blue" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote grid--2column">
  <div class="content-inner">
    <div class="paragraph__title">Grid 2 columns</div>
    <div class="paragraph__content">
    	<div class="grid__item">
				<div class="promote__item bg-blue" style="background-image:url('https://unsplash.it/1202/500/?random')">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    	<div class="grid__item">
				<div class="promote__item bg-blue" style="background-image:url('https://unsplash.it/1202/500/?random')">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote size-smaller grid--2column">
  <div class="content-inner">
    <div class="paragraph__title">Grid 2 columns</div>
    <div class="paragraph__content">
    	<div class="grid__item">
				<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    	<div class="grid__item">
				<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
			<div class="grid__item">
				<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    	<div class="grid__item">
				<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    </div>
  </div>
</div>


<div class="paragraph paragraph--promote size-smaller grid--3column">
  <div class="content-inner">
    <div class="paragraph__title">Grid 3 columns</div>
    <div class="paragraph__content">
    	<div class="grid__item">
				<div class="promote__item">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    	<div class="grid__item">
				<div class="promote__item bg-white">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    	<div class="grid__item">
				<div class="promote__item">
					<a class="promote__link" href="#">
						<div class="promote__content">
							<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
							<div class="promote__text"><p>Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p></div>
							<p class="promote__cta btn--cta">More about it</p>
						</div>
					</a>
				</div>
			</div>
    </div>
  </div>
</div>


