<div class="social-share">
  <div class="social-share__count"><span class="social-share__count__number">1</span><span>SHARES</span></div>
  <div class="social-share__buttons">
    <a href="#" class="icon-linkedin-square">Linkedin</a>
    <a href="#" class="icon-facebook">Facebook</a>
    <a href="#" class="icon-twitter">Twitter</a>
    <a href="#" class="icon-google">Google</a>
  </div>
</div>
