@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include FrutigerLight;
  font-size: $base-font-size; // Don't modify static unit.
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: $base-line-height;
  height: 100%;
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  -webkit-tap-highlight-color: transparent;
  color: $text-color;
  font-size: rem(14px);
  text-size-adjust: none;
  line-height: $base-line-height;
  word-wrap: break-word;
  height: 100%;
}

.group-region {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 30px 0;

  @include susy-media(mobileOnly) {
    .left-region {
      margin-bottom: 40px;
    }
  }

  @include susy-media(tablet) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;

    .left-region {
      width: 75%;
      margin-right: 35px;
    }

    .right-region {
      width: 25%;
    }
  }

  @include susy-media(tabletOnly) {
    .left-region {
      width: 70%;
      margin-right: 25px;
    }

    .right-region {
      width: 30%;
    }
  }
}
