.block-media {
  padding: rem(40px 0 10px);
  background-color: $gray-f8;

  @include susy-media(mobileOnly) {
    display: none;
  }

  @include susy-media(desktop) {
    padding: rem(70px 0 20px);
  }

  &__text,
  &__media {
    overflow: hidden;
    position: relative;

    @include susy-media(tablet) {
      width: 50%;
    }
  }

  &__text {
    padding: 1.875rem;

    p {
      font-size: 0.875rem;
    }
  }

  .video-wrap {
    padding-bottom: calc(100% * 410 / 768);
    margin-bottom: 0;
  }

  &__inner {
    align-items: flex-start;
    clear: both;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    @include susy-media(tablet) {
      flex-flow: row wrap;
    }

    &.media-text {
      @include susy-media(tablet) {
        flex-flow: row-reverse;
      }
    }
  }
}
