.carousel {
  &__item {
    height: rem(400px);
    overflow: hidden;
    position: relative;

    @include susy-media(desktopSuperWide) {
      height: calc(100vw * 400 / 1400);
    }
  }

  &__media {
    img {
      bottom: auto;
      height: 100%;
      left: 50%;
      max-width: inherit;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    }
  }

  &__content {
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    padding-bottom: rem(50px);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    @include susy-media(tablet) {
      justify-content: flex-end;
      padding-bottom: rem(194px);
    }

    @include susy-media(desktopSuperWide) {
      padding-bottom: calc((100vw * 400 / 1400) * 36 /100);
    }
  }

  &__caption {
    width: 100%;
  }
}
